.navigation {
  height: auto;

  .navigation-title {
    letter-spacing: 0rem;
    text-transform: lowercase;
  }

  .navigation-list-ft {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;

    @media only screen and (max-width: 768px) {
      line-height: 1.8em;
    }

    .navigation-item {
      // float: right;
      text-align: right;
      margin: 0;
      // position: relative;
    }
  }
}

.content {
  
  .about {
    margin-top: -1.5em;

    h1 {
      font-size: 6rem;
      line-height: 7rem;
      margin-bottom: 3rem;

      @media only screen and (max-width: 768px) {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 2rem;
      }
    }

    .avatar img {
      width: 25rem;

      @media only screen and (max-width: 768px) {
        width: 15rem;
      }
    }

    p {
      font-size: 2.5rem;
      line-height: 3.5rem;

      @media only screen and (max-width: 768px) {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
    }
  }

  article {
    p {
      text-align: left;
      hyphens: manual;
    }
  }
}

.footer {
  margin-bottom: 0;

  .footer-1 {
    background-color: #356E3B;
    height: 75px;
  }

  .footer-2 {
    background-color: #B08E71;
    height: 25px;
  }
}