<section class="container centered">
    <div class="about">
      <h1>I design and develop software products</h1>
      
      {{ partialCached "home/avatar.html" . }}

      <p>Hola! I'm Fernando Trigoso, a programmer, software architect, writer, speaker, and cook located in Raleigh, NC.</p>

      <p>I'm also the creator of <a href="https://monarchapp.io/">Monarch</a>, a developer tool.</p>

  
      <!-- {{ partialCached "home/author.html" . }} -->
  
      <!-- {{ partialCached "home/social.html" . }} -->
    </div>
  
    {{ partialCached "home/extensions.html" . }}
  </section>
  